/*test styles for testing DOM functions*/
* {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	font-family: Raleway, sans-serif;
}

.background-img-overlay {
	position: fixed;
	z-index: 0;
	top: 50px;
	right: 0;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px auto;
	background-color: white;
	z-index: -1;
	opacity: 0.5;
	-webkit-background-size;
	-moz-background-size;
}


header {
	text-align: center;
	font-size: 1.8rem;
	letter-spacing: 0.3rem;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60px;
	width: 350px;
}

button {
	outline: none;
}

.nav-btn {
	height: 32px;
	width: 80px;
	border-radius: 6px;
	border: transparent;
	font-size: 1rem;
	font-family: Raleway, sans-serif;
	background-color:white;
	opacity: 0.8;
}

.nav-btn:hover {
	background-color: darkred;
	color: white;
	transition: all 0.2s ease-out;
	border-radius: 36px;
	border: transparent;
	text-decoration: underline;
	opacity: 1;
}

.active-btn {
	background-color: darkred;
	color: white;
	transition: all 0.2s ease-out;
	border-radius: 36px;
	border: transparent;
	text-decoration: underline;
	opacity: 1;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
	height: 60px;
	border-bottom: 1px dashed darkred;
}

.card-display {
	background-color: black;
	opacity: 0.9;
	height: 500px;
	width: 300px;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.4s linear;
	transition: transform 0.8s ease-out;
	-webkit-backface-visibility: hidden;
}

.card-display-red {
	background-color: darkred;
	transition: background-color 0.4s linear;
	transition: transform 0.8s ease-out;
	-webkit-backface-visibility: hidden;
}

.flipcard {
	transform: rotateY(360deg);
	transition: all 0.8s ease-out;
	-webkit-backface-visibility: hidden;
}

.suit-number {
	background-color: white;
	border-radius: 4px;
	height: 1.6rem;
	width: 2.2rem;
	font-size: 1rem;
	text-align: center;
	transition: all 0.4s linear;
}

.suit-number-red {
	color: darkred;
	transition: all 0.4s linear;
}

.suit-number-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 2rem;
}

.card-rule {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 70%;
	color: white;
	width: 85%;
}

.card-rule > h2 {
	font-size: 1rem;
}

/*.hover {
	opacity: 0.8;
}*/

.navbar{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.modal {
	background-color: lightgrey;
	z-index: 3;
	position: fixed;
	width: 340px;
	height: 640px;
/*	top: 150px;*/
	top: 14vh;
	visibility: hidden;
	opacity: 0.95;
	border-radius: 20px;
	overflow: scroll;
}

.close-btn-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.close-btn {
	height: 20px;
	width: 20px;
	border-radius: 5px;
	font-family: Raleway, sans-serif;
}

.close-btn:hover {
	background-color: darkgrey;
	color: white;
}

.options-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 78%;
}

.add-remove-players-btn, .set-drink-limit-btn {
	width: 80%;
	height: 20%;
	border-radius: 20px;
	margin: 20px 0;
	font-size: 1.2rem;
	font-family: Raleway, sans-serif;
}

.player-list-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 96%;
}

.player-list-wrapper > ul {
	display: grid;
	grid-template-rows: repeat(100, 40px);
	grid-template-columns: 150px 150px;
	overflow: scroll;
	border: none;
}

.add-remove-player-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin: 4vh 0;
}

.drink-counter {
	width: 30%;
}

.add-remove-btns {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
	height: 30px;
}

.add-remove-btns > button {
	width: 28px;
	border-radius: 8px;
	height: 22px;
	padding-bottom: 2px;
}

.added-player {
	background-color: transparent;
	height: 100%;
	text-align: center;
	font-size: 1rem;
	border: none;
	font-family: Raleway, sans-serif;
	width: 92%;
}

.added-player:focus {
	outline: none;
}

.drink-count {
	height: 100%;
	text-align: center;
	opacity: 0.6;
	font-size: 1rem;
	background-color: transparent;
	border: none;
	font-family: Raleway, sans-serif;
	width: 92%;
}

.drink-count:focus {
	outline: none;
}

.drink-limit-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 400px;
}

.drink-limit-input {
	height: 2rem;
	width: 4rem;
	text-align: center;
	border-radius: 8px;
	font-size: 1.2rem;
	border: none;
}

.drink-limit-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	height: 35%;
}


.rules-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.rules-wrapper > h2 {
	margin-bottom: 10px;
	text-decoration: underline;
}

.rules-wrapper > h4 {
	margin-bottom: 20px;
}

.rules-list {
	display: grid;
	grid-template-columns: 10px, 100px, 100px;
	grid-template-rows: repeat(100, 0.5rem, 0.5rem, 1.5rem);
	grid-row-gap: 2rem;
	height: 500px;
	width: 300px;
	overflow: scroll;
}

.rule-card-number {
	font-size: 1.5rem;
	text-align: center;
	color: darkgrey;
}

.rule-name {
	font-weight: 900;
	font-size: 2rem;
	background-color: transparent;
	border: none;
}

.rule-content {
	padding: 15px;
	border-bottom: black 1px solid;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 3800px;
	height: 120px;
	padding-bottom: 2vh;
	font-size: 0.9rem;
	color: darkgrey;
}

.footer-btns-wrapper {
	display: flex;
	height: 16px;
	justify-content: space-around;
	width: 54px;
	margin-bottom: 1px;
	align-items: center;
	text-align: center;
}

.footer-add-btn {
	font-size: 1rem;
	padding: 3px 7px;
	border-radius: 100%;
	background-color: lightgrey;
	opacity: 0.8;
	color: darkred;
	visibility: hidden;
}

.footer-remove-btn {
	font-size: 1rem;
	padding: 3px 8px;
	border-radius: 100%;
	background-color: lightgrey;
	opacity: 0.8;
	color: darkred;
	visibility: hidden;
}

.footer-remove-btn:active, .footer-add-btn:active {
	background-color: darkred;
	color: white;
	border-radius: 80%;
}

.current-player-display, .next-player-display {
	width: 274px;
	display: flex;
	justify-content: space-between;
	align-items: left;
	margin-bottom: 1px;
	height: 24px;
	font-size: 1rem;
}

/*overlay*/

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%
	height: 100%
	z-index: 2;
	visibility: hidden;
}

.visible {
	visibility: visible;
}

@media (max-height: 813px) {
	.footer {
		padding-bottom: 0;
		justify-content: center;
	}

	.modal {
		top: 12vh;
	}
}

@media (max-height: 735px) {
	.modal {
		top: 10vh;
		height: 570px;
		width: 320px;
	}

	.card-display {
		height: 480px;
		width: 264px;
	}
}

@media (max-height: 630px) {
	.modal {
		top: 10vh;
		height: 500px;
		width: 280px;
	}

	.card-display {
		height: 400px;
		width: 220px;
	}

	header {
		font-size: 1.2rem;
	}

	nav {
		width: 320px;
		height: 90px;
	}

	.nav-btn {
	font-size: 0.8rem;
	height: 24px;
}

	.footer {
		font-size: 0.8rem;
	}

	.current-player-display, .next-player-display {
		font-size: 0.8rem;
	}

}

/*	.background-img-overlay {
		top: 42vh;
		left: 0;
		bottom: 0;
		right: 8vw;
	}


@media (min-width: 870px) {
	.background-img-overlay {
		background-size: contain;
	}
}*/

@media (min-height: 1020px) {
	.modal {
		top: 10vh;
		height: 900px;
		width: 504px;
	}

	.card-display {
		height: 700px;
		width: 385px;
	}

	.rules-list {
		height: 700px;
		width: 420px;
	}
}