/*test styles for testing DOM functions*/
* {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	font-family: Raleway, sans-serif;
}

header {
	text-align: center;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 10vh;
	width: 350px;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 10vh;
}

.card-container {
	height: 660px;
	width: 350px;
}

.card-display {
	background-color: black;
	opacity: 0.9;
	height: 560px;
	width: 350px;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.suit-number {
	background-color: white;
	border-radius: 4px;
	height: 2rem;
	width: 2rem;
}

.suit-number-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 2rem;
}

.card-rule {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 70%;
	color: white;
	width: 85%;
}

.card-rule > h2 {
	font-size: 1rem;
}

.hover {
	opacity: 0.8;
}

.navbar{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}